<header class="header">
  <div class="header__container container">
    <nav class="header__navigation navigation">
      <div class="navigation__logo logo">
        <span class="logo__text">LO</span>
        <span class="logo__text">GO</span>
      </div>
      <div class="navigation__menu menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a href="#" class="menu__link">Home</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">Services</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">Portfolio</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">Blog</a>
          </li>
        </ul>
      </div>
    </nav>
    <div
      class="header__slider header-slider uk-position-relative uk-visible-toggle uk-light"
      tabindex="-1"
      data-uk-slideshow="autoplay: true; autoplay-interval: 4000"
    >
      <ul class="header-slider__list uk-slideshow-items">
        <li class="header-slider__item">
          <h2 class="header-slider__title">Always a step ahead GO PRO</h2>
          <a href="#" class="header-slider__link">Learn More</a>
        </li>
        <li class="header-slider__item">
          <h2 class="header-slider__title">WE PROVIDE THE BEST SERVICE</h2>
          <a href="#" class="header-slider__link">Learn More</a>
        </li>
        <li class="header-slider__item">
          <h2 class="header-slider__title">Our RECENT PROJECTS</h2>
          <a href="#" class="header-slider__link">Learn More</a>
        </li>
      </ul>

      <a
        class="uk-position-center-left uk-position-small uk-hidden-hover"
        href="#"
        data-uk-slidenav-previous
        data-uk-slideshow-item="previous"
      ></a>
      <a
        class="uk-position-center-right uk-position-small uk-hidden-hover"
        href="#"
        data-uk-slidenav-next
        data-uk-slideshow-item="next"
      ></a>
    </div>
  </div>
</header>
