.logo {
  cursor: pointer;
  @include flex(center, center, column);
  width: 65px;
  height: 60px;
  border: 2px solid $white;
  border-radius: 3px;
  transition: all 0.4s linear;
  &:hover {
    transform: rotateZ(30deg);
  }
  &__text {
    @include text($H300, 400, $white);
    font-family: $navigation-font;
    text-transform: uppercase;
    display: block;
  }
}
